*{
    box-sizing: border-box;
}
body{
    justify-self: center;
    align-content: center;
    width: 30%;
    min-width: 317px;
    height: 100vh;            /* Makes the body take the full viewport height */
    margin: 0;                /* Removes default margin */
}
.calculator{
    min-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    border: 2px solid grey;
    border-radius: 10px;
    background-color:rgb(239, 239, 237);
    box-shadow: 0px 4px 8px;
    
}
.display{
    align-items: center;
    display: flex;
    height: 25%;
    width: 100%;
    font-size: 50px;
    padding:5px 0px;
    border: 2px solid grey;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.buttons{
    justify-items: center;
    display: grid;
    height: 70%;
    grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}
button{
    font-size: larger;
    background-color:white;
    border-radius: 10px;
    text-align: center;
    border: 0;
    min-width: 50%;
    width: 100%;
    color: black;
    box-shadow: 0px 4px 8px;
}
button:hover{
    font-weight: bolder;
    opacity: 0.6;
}
#eqlto{
    background-color: rgb(64, 216, 64);
    color: azure;
    grid-column-start: -1;
    grid-row-start: 3;
    grid-row-end: 6;
    grid-column-end: -2;
}
#C{
    background-color: rgb(243, 71, 9);
    color: white;
}
#Divide, #Mul, #Sub, #Add{
    background-color: rgba(26, 63, 211, 0.836);
    /* background-color: rgb(64, 164, 203); */
    color: white;
}